doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='mc')
    title Youtube for Alexa
    link(href='css/style.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
    script(src="/js/jquery.min.js")
    script(src="/js/jquery-ui.min.js")
  body
    #queues
        #placeholder
            |No Active Queues
        #tabmenu
            #tabbar
                #bottomline(style="position:absolute;height:1px;width:100%;background-color:#aaaaaa;bottom:0;z-index:2")
            #display
    #loggers
        #compactviewer
        #logviewer
            #messagecont
    script(src="/js/scaleHandler.js")
    script(src="/js/logger.js")
    script(src="/js/queueDisplay.js")