html {
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  /*background-image: url("https://images5.alphacoders.com/345/345584.jpg");
  background-size: cover;
  background-position: center;*/

}

::-webkit-scrollbar {
    display: none;
}

#loggers {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  pointer-events: none;
}

#logviewer {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 2.5%;
  border: #888888 1px solid;
  background-color: white;
  overflow: scroll;
}

#messagecont {
  position: absolute;
  height: auto;
  width: 100%;
  padding-bottom: 4px;
  /*bottom: 10px;*/
}

.message {
  position: relative;
  height: auto;
  margin: 4px 4px;
  margin-bottom: 0;
}
.message.log {
  background-color: #cccccc;
}
.message.warn {
  background-color: #ffdd55;
}
.message.error {
  background-color: #ff6666;
}
.message.log:hover {
  background-color: #aaaaaa;
}
.message.warn:hover {
  background-color: #ffcc00;
}
.message.error:hover {
  background-color: #ff2222;
}

.message p.date {
  color: black;
  margin: 0;
  padding: 2px 10px;
  padding-bottom: 0;
}
.message p.text {
  color: white;
  margin: 0;
  padding: 2px 10px;
  overflow-wrap: break-word;
}
.message p span.tab {
  display: inline-block;
  min-width: 100px;
}

#compactviewer {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 2.5%;
  border: #888888 1px solid;
  background-color: white;
  overflow: scroll;
  opacity: 0;
  pointer-events: none;
}

#compactviewer p {
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 2px 2px;
  padding-bottom: 0;
  overflow-wrap: break-word;
}
#compactviewer p:hover {
  background-color: #eeeeee;
}
#compactviewer p.warn {
  color: #ffcc00;
}
#compactviewer p.error {
  color: #ff2222;
}

#compactviewer p span.tab {
  display: inline-block;
  min-width: 100px;
}
#compactviewer p span.date {
  color: #22ddff;
}

#uptime {
  position: absolute;
  height: auto;
  width: auto;
  top: .5%;
  left: 2.5%;
}

/* queues */
#queues {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#placeholder {
  position: absolute;
  height: auto;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  top: 40%;
  color: #999999;
  font-size: 40px;
  pointer-events: none;
  user-select: none;
}

#tabmenu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

#tabbar {
  position: relative;
  height: 45px;
  width: 100%;
  overflow: hidden;
}

.tab-chooser {
  position: absolute;
  bottom: 0;
  height: 33px;
  padding-top: 7px;
  padding-left: 20px;
  width: 230px;
  cursor: pointer;
  border: 1px solid #aaaaaa;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  user-select: none;
  overflow: hidden;
}

.tab-chooser.inactive {
  background-color: #eeeeee;
  z-index: 1;
}
.tab-chooser.inactive:hover {
  background-color: white;
}

.tab-chooser.active {
  background-color: white;
  color: #ffcc00;
  cursor: default;
  border-bottom: 1px solid white;
}

.tab-chooser .underline {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #ffcc00;
}

#display {
  position: relative;
  width: 100%;
  height: auto;
}

.queue-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: auto;
  opacity: 0;
  pointer-events: none;
}

.queue-central {
  position: relative;
  width: 70%;
  margin: 0 15%;
  height: auto;
}

.session-title {
  margin-bottom: 0;
  border-bottom: 1px solid black;
  color: #555555;
}

.session-part {
  color: #ffcc00;
}

.session-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  border-bottom: 1px solid black;
}

.queue-pointer {
  position: relative;
  display: inline-block;
  height: auto;
  width: 5%;
  vertical-align: top;
}

.queue-list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 90%;
}

.queue-item-container {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  user-select: none;
  cursor: pointer;
}
.queue-item-container:hover {
  background-color: #eeeeee;
}

.queue-item-container p.title {
  margin: 0;
  margin-right: 100px;
}

.queue-item-container p.time {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  text-align: right;
}

.caret {
  position: absolute;
  right: 20%;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #33dd33;
  white-space: nowrap;
}

/* context menu */
#contextmenu {
  position: absolute;
  height: 0;
  font-size: 12px;
  color: black;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,.75);
  border: 1px solid #aaaaaa;
}

#contextmenu .item {
  position: relative;
  white-space: none;
  padding: 12px;
  border-bottom: 1px solid #aaaaaa;
  user-select: none;
  cursor: pointer;
}
#contextmenu .item:hover {
  background-color: #dddddd;
}

/* disconnect */
#disconnect {
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 99;
  white-space: none;
  padding: 2px 10px;
  color: white;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
}

/* key stuff */
#keyload {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0%;
  left: 60%;
  background-color: white;
  z-index: 98;
  border-left: 1px solid #aaaaaa;
  box-shadow: 20px 0px 31px 19px rgba(0,0,0,0.6);
}

#keyload #tab {
  position: absolute;
  padding: 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #aaaaaa;
  background-color: white;
  border-right: 0px;
  right: 100%;
  bottom: 10%;
  cursor: pointer;
}

#keyload #tab #circle {
  position: relative;
  background-color: #aaaaaa;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  text-indent: 180px;
  transform: rotate(540deg);
}

#keyload #tab #circle span#triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  top: 8px;
  left: 9px;
}

#keyload #close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaaaaa;
  font-size: 40px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  user-select: none;
  cursor: pointer;
  white-space: none;
}
#keyload #close:hover {
  color: white;
  background-color: #aaaaaa;
}

#keyload #content {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

#keyload #content h1 {
  position: relative;
  padding-top: 40%;
  margin: 0px;
  color: #555555;
}
#keyload #content h1 span {
  color: #ffcc00;
}

#keyload #content p {
  margin-top: 5%;
  color: #555555;
}

#keyload #content input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
  color: #555555;
}

#keyload #content button {
  display: inline-block;
  color: white;
  background-color: #ffcc00;
  padding: 7px 15px;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
#keyload #content button:hover {
  background-color: #eebb00;
}
#keyload #content button:active {
  background-color: #ddaa00;
}

#keyload #list {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#keyload p.list-item {
  margin-top: 0 !important;
  margin-bottom: ;
  white-space: nowrap;
}

#keyload p.list-item span {
  font-weight: bold;
  color: #ffcc00;
}

::-webkit-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  color: #aaaaaa;
}
:-moz-placeholder {
  font-family: 'Ubuntu', sans-serif;
  color: #aaaaaa;
}
::-moz-placeholder {
  font-family: 'Ubuntu', sans-serif;
  color: #aaaaaa;
}
:-ms-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  color: #aaaaaa;
}
::placeholder {
  font-family: 'Ubuntu', sans-serif;
  color: #aaaaaa;
}