html {
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  /*background-image: url("https://images5.alphacoders.com/345/345584.jpg");
  background-size: cover;
  background-position: center;*/

}

::-webkit-scrollbar {
    display: none;
}

#loggers {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  pointer-events: none;
}

#logviewer {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 2.5%;
  border: #888888 1px solid;
  background-color: white;
  overflow: scroll;
}

#messagecont {
  position: absolute;
  height: auto;
  width: 100%;
  padding-bottom: 4px;
  /*bottom: 10px;*/
}

.message {
  position: relative;
  height: auto;
  margin: 4px 4px;
  margin-bottom: 0;
}
.message.log {
  background-color: #cccccc;
}
.message.warn {
  background-color: #ffdd55;
}
.message.error {
  background-color: #ff6666;
}
.message.log:hover {
  background-color: #aaaaaa;
}
.message.warn:hover {
  background-color: #ffcc00;
}
.message.error:hover {
  background-color: #ff2222;
}

.message p.date {
  color: black;
  margin: 0;
  padding: 2px 10px;
  padding-bottom: 0;
}
.message p.text {
  color: white;
  margin: 0;
  padding: 2px 10px;
  overflow-wrap: break-word;
}
.message p span.tab {
  display: inline-block;
  min-width: 100px;
}

#compactviewer {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 2.5%;
  border: #888888 1px solid;
  background-color: white;
  overflow: scroll;
  opacity: 0;
  pointer-events: none;
}

#compactviewer p {
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 2px 2px;
  padding-bottom: 0;
  overflow-wrap: break-word;
}
#compactviewer p:hover {
  background-color: #eeeeee;
}
#compactviewer p.warn {
  color: #ffcc00;
}
#compactviewer p.error {
  color: #ff2222;
}

#compactviewer p span.tab {
  display: inline-block;
  min-width: 100px;
}
#compactviewer p span.date {
  color: #22ddff;
}

/* queues */
#queues {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#placeholder {
  position: absolute;
  height: auto;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  top: 40%;
  color: #999999;
  font-size: 40px;
  pointer-events: none;
}

#tabmenu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

#tabbar {
  position: relative;
  height: 45px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.tab-chooser {
  position: absolute;
  bottom: 0;
  height: 33px;
  padding-top: 7px;
  padding-left: 20px;
  width: 230px;
  cursor: pointer;
  border: 1px solid #aaaaaa;
  border-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  user-select: none;
  overflow: hidden;
}

.tab-chooser.inactive {
  background-color: #eeeeee;
  z-index: 1;
}
.tab-chooser.inactive:hover {
  background-color: white;
}

.tab-chooser.active {
  background-color: white;
  color: #ffcc00;
  z-index: 3;
  cursor: default;
}

.tab-chooser .underline {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #ffcc00;
}

#display {
  position: relative;
  width: 100%;
  height: auto;
}

.queue-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: auto;
  opacity: 0;
  pointer-events: none;
}

.queue-central {
  position: relative;
  width: 70%;
  margin: 0 15%;
  height: auto;
}

.session-title {
  margin-bottom: 0;
  border-bottom: 1px solid black;
  color: #555555;
}

.session-part {
  color: #ffcc00;
}

.session-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  border-bottom: 1px solid black;
}

.queue-pointer {
  position: relative;
  display: inline-block;
  height: auto;
  width: 5%;
  vertical-align: top;
}

.queue-list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 75%;
}

.caret {
  position: absolute;
  right: 20%;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #33dd33;
  white-space: nowrap;
}